.rooms-sidebar {
	height: 100vh;
}

.message-body {
	border-bottom: solid 1px black;
}

.user-message, .sent-time {
	display: inline-block;
}

.sent-time {
	float: right;
}

.send-message {
	position: fixed;
	bottom: 10px;
	width: 65%;
}

.message-box, .new-message-button {
	display: inline-block;
}

.message-box {
	width: 90%;
}

.message-window {
	height: 100vh;
	border: solid 1px black;
}